.plattform {
    position: absolute;
    background-image: linear-gradient(rgb(93, 0, 222), rgb(22, 0, 32));
    font-size: 1%;
    text-align: center;
    width: 7%;
    height: 2%;
    bottom: 20%;
    left: 47%;
    border-radius: 50px;
    color: transparent;
}

.ball {
    position: absolute;
    bottom: 30%;
    left: 50%;
    background-image: linear-gradient(rgb(255, 18, 243), rgb(119, 0, 203), rgb(25, 0, 47));
    text-align: center;
    font-size: 1%;
    border-radius: 50%;
    width: 1vw;
    height: 1vw;
    color: transparent;
}

.border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.blockSpace {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
}

.brick {
    background-image: linear-gradient(rgb(249, 225, 105), rgb(212, 194, 0), rgb(255, 241, 47));
    border-radius: 2px; 
    width: 8%;
    height: 2%;
    bottom: 20%;
    left: 47%;
    color: transparent;
}


.lvl {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}