body {
    background-color: black;
}

.Plattform {
    position: absolute;
    background-color: white;
    color: white;
    font-size: 1%;
    text-align: center;
    width: 7%;
    height: 2%;
    bottom: 20%;
    left: 47%;
    border-radius: 50px;
}

.Ball {
    position: absolute;
    bottom: 30%;
    left: 50%;
    background-color: white;
    color: white;
    text-align: center;
    font-size: 1%;
    border-radius: 100%;
    width: 1%;
    height: 2%;
}