body {
    min-height: 100vh;
    font-family: Helvetica, sans-serif;
    background: linear-gradient(180deg, rgb(208, 0, 0), #370101);
}

h1{
    font-size: 75px;
    background-image: linear-gradient(rgb(98, 0, 0), rgb(33, 1, 1));
    color: transparent;
    background-clip: text;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
h2{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 90px;
}

button,
.button {
  display: block;
  width: 10rem;
  height: auto;
  font-size: 2rem;
  color: black;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-image: linear-gradient(rgb(87, 87, 87), rgb(126, 126, 126));
  border: none;
  border-radius: 3px;
  margin-top: 13rem;
  cursor: pointer;
  transition: all 0.5s;
  text-decoration: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.score {
  text-align: center;
}